<body>
    MOSTRAR LAS SOLICITUDES DE PRESTAMO
</body>

<div class="lista-solicitudes">
    <h2>Solicitudes de Préstamo</h2>
    <div class="contenedor-scroll">
      <table>
        <thead>
          <tr>
            <th>Nombre Equipo</th>
            <th>Estado Equipo</th>
            <th>Nombre Usuario</th>
            <th>Estado Solicitud</th>
            <th>Fecha Solicitud</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of solicitudesPrestamo">
            <!-- Nombre del Equipo -->
            <td>{{ solicitud.IdEquipoNavigation?.Nombre || 'N/A' }}</td>
  
            <!-- Estado del Equipo -->
            <td>{{ solicitud.IdEquipoNavigation?.EstadoEquipo || 'N/A' }}</td>
  
            <!-- Nombre del Usuario -->
            <td>{{ solicitud.IdSolicitudPrestamoNavigation?.IdUsuarioNavigation?.Nombre || 'N/A' }} 
                {{ solicitud.IdSolicitudPrestamoNavigation?.IdUsuarioNavigation?.Apellido || '' }}
            </td>
  
            <!-- Estado de la Solicitud -->
            <td>{{ solicitud.Estado || 'N/A' }}</td>
  
            <!-- Fecha de la Solicitud -->
            <td>{{ (solicitud.IdSolicitudPrestamoNavigation?.FechaSolicitud || 'N/A') | date: 'shortDate' }}</td>

            <!-- Botón de acción -->
            <td>
              <button (click)="redirigir(solicitud.IdSolicitudPrestamo)">+</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  