<div class="contenedor">
    <!-- Category list -->
    <div class="lista-categorias">
      <h2>Lista de Categorías</h2>
      <div class="contenedor-scroll">
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Área</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let categoria of categorias">
              <td>{{ categoria.nombre }}</td>
              <td>{{ categoria.area.join(', ') }}</td>
              <td>
                <button (click)="seleccionarCategoria(categoria)">+</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button (click)="mostrarFormularioNuevaCategoria()">Nueva Categoría</button>
    </div>
  
    <!-- Category details -->
    <div class="detalle-categoria" *ngIf="categoriaSeleccionada && !mostrarFormulario">
      <h2>Detalles de la Categoría</h2>
      <button class="eliminar" (click)="eliminarCategoria()">ELIMINAR</button>
      <button (click)="habilitarEdicion()" *ngIf="!modoEdicion">ACTUALIZAR</button>
      <form *ngIf="modoEdicion" (ngSubmit)="guardarCambios()">
        <div *ngFor="let campo of camposCategoria">
          <label>{{ campo.label }}</label>
          <input [(ngModel)]="categoriaSeleccionada[campo.key]" [name]="campo.key" required />
        </div>
        <button type="submit">GUARDAR</button>
        <button type="button" (click)="cancelarEdicion()">CANCELAR</button>
      </form>
      <div *ngIf="!modoEdicion">
        <p><strong>Nombre:</strong> {{ categoriaSeleccionada.nombre }}</p>
        <p><strong>Área:</strong> {{ categoriaSeleccionada.area.join(', ') }}</p>
      </div>
    </div>
  
    <!-- New category registration form -->
    <div class="formulario" *ngIf="mostrarFormulario && !categoriaSeleccionada"> 
      <h2>Registrar Nueva Categoría</h2>
      <form (ngSubmit)="registrarCategoria()">
        <div>
          <div>
            <label for="nombre">Nombre:</label>
            <input id="nombre" [(ngModel)]="categoriaData.nombre" name="nombre" required />
          </div>
          <div>
            <label for="area">Área:</label>
            <select id="area" [(ngModel)]="categoriaData.area" name="area" required>
                <option *ngFor="let area of opcionesArea" [value]="area">{{ area }}</option>
            </select>
          </div>
          <button type="submit" style="padding-right: 20px;">Registrar Categoría</button>
          <button type="button" (click)="cancelarFormulario()">CANCELAR</button>
        </div>
      </form>
    </div>
  </div>