<body>
    AQUI SE MUESTRA EL FORMULARIO PARA CREAR UN NUEVO EQUIPO
</body>

<body>
    AQUI SE MUESTRA EL FORMULARIO PARA LA CREACION DE UN COMPONENTE
</body>

<div class="overlay" *ngIf="isFormOpen" (click)="closeForm()"></div>
<div class="form-popup" *ngIf="isFormOpen">
  <h2>REGISTRAR NUEVO EQUIPO</h2>
  <form (submit)="submitForm()">

    <h6 for="name">Codigo Equipo:</h6>
    <input id="name" type="text" [(ngModel)]="formData.name" name="name" required>

    <h6 for="name">Numero de Serie:</h6>
    <input id="name" type="text" [(ngModel)]="formData.name" name="name" required>

    <h6 for="name">Nombre del Equipo:</h6>
    <input id="name" type="text" [(ngModel)]="formData.name" name="name" required>

    <h6 for="email">Manufacturero:</h6>
    <label>____</label>
    <input id="email" type="email" [(ngModel)]="formData.email" name="email" required>

    <h6 for="message">Codigo de Producto</h6>
    <textarea id="message" [(ngModel)]="formData.message" name="message" required></textarea>

    <h6 for="message">Estado</h6>
    <textarea id="message" [(ngModel)]="formData.message" name="message" required></textarea>

    <h6 for="message">Detale</h6>
    <textarea id="message" [(ngModel)]="formData.message" name="message" required></textarea>
    
    <h6 for="message">Categoria</h6>
    <textarea id="message" [(ngModel)]="formData.message" name="message" required></textarea>

    <h6 for="description">Ubicacion:</h6>
    <label>Gabinete en el que se encuentran</label>
    <textarea id="description" [(ngModel)]="formData.description" name="description" required></textarea>

    <h6 for="message">Link Datasheet</h6>
    <textarea id="message" [(ngModel)]="formData.message" name="message" required></textarea>

    <div class="form-buttons">
      <button type="submit" class="btn-submit">Crear Componente</button>
      <button type="button" class="btn-cancel" (click)="closeForm()">Cancelar</button>
    </div>
  </form>
</div>
