<div class="contenedor">
  <!-- Solicitudes de préstamo -->
  <div class="lista-solicitudes">
    <h2>Solicitudes de Préstamo</h2>
    <div class="contenedor-scroll">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Fecha Solicitud</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Estado Solicitud</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let solicitud of solicitudes">
            <td>{{ solicitud.id || 'N/A' }}</td>
            <td>{{ solicitud.fechaSolicitud }}</td>
            <td>{{ solicitud.fechaInicioPrestamo }}</td>
            <td>{{ solicitud.fechaFinPrestamo }}</td>
            <td>{{ solicitud.estado || 'N/A' }}</td>
            <td>
              <button (click)="verDetallesSolicitud(solicitud)">Ver Detalles</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Detalle de la solicitud -->
  <div class="detalle-solicitud" *ngIf="solicitudSeleccionada">
    <h2>Detalles de la Solicitud</h2>
    <div *ngIf="solicitudSeleccionada.equipos && solicitudSeleccionada.equipos.length">
      <h3>Equipos Solicitados:</h3>
      <ul>
        <li *ngFor="let equipo of solicitudSeleccionada.equipos">
          <strong>{{ equipo.nombre }}</strong> - {{ equipo.descripcion || 'N/A' }}
        </li>
      </ul>
    </div>
    <div>
      <p><strong>Estado de la Solicitud:</strong> {{ solicitudSeleccionada.estado || 'N/A' }}</p>
      <p><strong>Fecha de la Solicitud:</strong> {{ (solicitudSeleccionada.fechaSolicitud || 'N/A') }}</p>
      <p><strong>Fecha de Inicio de Préstamo:</strong> {{ (solicitudSeleccionada.fechaInicioPrestamo || 'N/A')  }}</p>
      <p><strong>Fecha de Fin de Préstamo:</strong> {{ (solicitudSeleccionada.fechaFinPrestamo || 'N/A') }}</p>
    </div>
    
    <!-- Botones de acción -->
    <div>
      <textarea [(ngModel)]="justificacion" placeholder="Escribe una justificación..." rows="4"></textarea>
      <div>
        <button (click)="aprobarSolicitud()">Aprobar</button>
        <button (click)="rechazarSolicitud()">Rechazar</button>
        <button (click)="cerrarDetalle()">Cancelar</button>
      </div>
    </div>
  </div>

</div>
