<body>
    AQUI SE MUESTRA EL FORMULARIO PARA LA CREACION DE UN COMPONENTE
</body>

<div class="registro-componente">
  <h2>Registrar Nuevo Componente</h2>
  <form (ngSubmit)="registrarComponente()">
    <div>
      <label for="codigoUcb">Código UCB:</label>
      <input id="codigoUcb" [(ngModel)]="componenteData.CodigoUcb" name="codigoUcb" />
    </div>

    <div>
      <label for="codigoComponente">Código del Componente:</label>
      <input id="codigoComponente" [(ngModel)]="componenteData.CodigoComponente" name="codigoComponente" required />
    </div>

    <div>
      <label for="numeroSerie">Número de Serie:</label>
      <input id="numeroSerie" [(ngModel)]="componenteData.NumeroSerie" name="numeroSerie" />
    </div>

    <div>
      <label for="fabricante">Fabricante:</label>
      <input id="fabricante" [(ngModel)]="componenteData.Fabricante" name="fabricante" />
    </div>

    <div>
      <label for="direccionEnlace">Dirección de Enlace:</label>
      <input id="direccionEnlace" [(ngModel)]="componenteData.DireccionEnlace" name="direccionEnlace" />
    </div>

    <div>
      <label for="nombre">Nombre del Componente:</label>
      <input id="nombre" [(ngModel)]="componenteData.Nombre" name="nombre" required />
    </div>

    <div>
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" [(ngModel)]="componenteData.Descripcion" name="descripcion"></textarea>
    </div>

    <div>
      <label for="categoria">Categoría:</label>
      <input id="categoria" [(ngModel)]="componenteData.IdCategoria" name="categoria" type="number" required />
    </div>

    <div>
      <label for="ubicacion">Ubicación:</label>
      <input id="ubicacion" [(ngModel)]="componenteData.Ubicacion" name="ubicacion" required />
    </div>

    <div>
      <label for="estadoEquipo">Estado del Componente:</label>
      <input id="estadoEquipo" [(ngModel)]="componenteData.EstadoEquipo" name="estadoEquipo" />
    </div>

    <div>
      <label for="estado">Estado:</label>
      <input id="estado" [(ngModel)]="componenteData.Estado" name="estado" />
    </div>

    <div>
      <label for="cantidad">Cantidad:</label>
      <input id="cantidad" [(ngModel)]="componenteData.Cantidad" name="cantidad" type="number" min="1" required />
    </div>

    <button type="submit">Registrar Componente</button>
  </form>
</div>
